<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="myBasicHttpBinding" maxReceivedMessageSize="10000000">
          <readerQuotas maxDepth="320" maxStringContentLength="10000000" maxArrayLength="10000000" maxBytesPerRead="10000000" maxNameTableCharCount="10000000"/>
        </binding>
      </basicHttpBinding>

    </bindings>
      <services>
      <service behaviorConfiguration="metadataBehavior" name="MMProgServiceLib.MMProgService">
        <endpoint address="serv" binding="basicHttpBinding" bindingConfiguration="myBasicHttpBinding"
          name="MMProgService" contract="MMProgServiceLib.IMMProgService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:20000/MMProgService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
